.menu{
    color: black;
    text-decoration: none;
}
/*-----------------------HEADEAR-----------------------*/

body{
    margin: 0;
}

.logo_pizza{
    height: 100px;
    width: 100px;
}

.register{
    background-image:url() ;
   
}      
header {
justify-content: center;
display: flex;
align-items: center;
gap: 250px;
padding: 10px;
size: 100%;
;
}
.logo_pizza{
    justify-content: flex-start;
    border-radius: 200px;
    
    
}
.menu a{
    align-items: center;
    color: black;
   text-decoration: none;
font-weight: bold;
font-size: 25px;

}
header{
    background-image: url("../imagenes/7b5e64e793d8d9a11642ed1046fe280b.jpg");
    background-size: 100%;
}

.caja_buscador h2{
margin-bottom: -2px;
margin-left: 40px;
}
/*-----------------------footer-----------------------*/
footer{
    margin-bottom: 0%;
}

/*-----------------------index.html-----------------------*/

.recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulos{
    border: 5px solid grey;
    margin: 15px;
    padding: 5px;
    background-color: rgb(209, 205, 205);
}



/*-----------------------receta.html-----------------------*/





/*-----------------------login.html-----------------------*/
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    size: 100%;
}
.loginCSS{
    background-color: rgb(255, 204, 61);
    padding: 50px;
    border: 10px solid black;
}


@media (max-width: 425px) {
    .main_login {
        background-image: url("../imagenes/ingredients-italian-food-with-copy-space.jpg");
        background-size: 100%;
    }
}

/*-----------------------register.html-----------------------*/
.main_register{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.registerCSS{
    background-color: rgb(255, 204, 61);
    padding: 50px;
    border: 10px solid black;
}

@media (max-width: 425px){
    .main_register{
        background-image: url("../imagenes/ingredients-italian-food-with-copy-space.jpg");
        background-size: 100%;
    }
}
    