.menu{
    color: black;
    text-decoration: none;
}
/*-----------------------HEADEAR-----------------------*/

body{
    margin: 0;
}

.logo_pizza{
    height: 100px;
    width: 100px;
}

.register{
    background-image:url() ;
   
}      
header {
justify-content: space-between;
display: flex;
align-items: center;
padding: 10px;
size: 100%;
box-sizing: border-box;
}
.logo_pizza{
    justify-content: flex-start;
    border-radius: 200px;
    
    
}
.menu a{
    align-items: center;
    color: black;
   text-decoration: none;
font-weight: bold;
font-size: 25px;


}
header{
    background-image: url("../imagenes/7b5e64e793d8d9a11642ed1046fe280b.jpg");
    background-size: 100%;
}

.caja_buscador h2{
margin-bottom: -2px;
margin-left: 40px;
}

@media (max-width: 425px) {
    header{
        flex-direction: column;
        gap: 100px;
        width: 100%;
    }
    
}
/*-----------------------footer-----------------------*/
footer{
    margin-bottom: 0%;
}

/*-----------------------index.html-----------------------*/

.recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nachito{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #f5e79b;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 200px;
    margin-top: 30px;
    height: 80px;
    border: 3px solid rgb(0, 0, 0);

}
.articulos{
    border: 5px solid black;
 
    background-color: #f5e79b;
    flex-direction: column;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 360px;
}
.articulos img{
    width: 300px;
    height: 300px;
    border-radius: 360px;
}


/*-----------------------receta.html-----------------------*/


/*-----------------------login.html-----------------------*/
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    size: 100%;
}
.loginCSS{
    background-color: #f5e79b;
    padding: 50px;
    border: 10px solid black;
}


@media (max-width: 425px) {
    .main_login {
        background-image: url("../imagenes/ingredients-italian-food-with-copy-space.jpg");
        background-size: 100%;
        padding: 30px;
    }
}

/*-----------------------register.html-----------------------*/
.main_register{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.registerCSS{
    background-color: #f5e79b;
    padding: 50px;
    border: 10px solid black;
}

.incompleto{
    color: red;
    font-weight: bold;
}

@media (max-width: 425px){
    .main_register{
        background-image: url("../imagenes/ingredients-italian-food-with-copy-space.jpg");
        background-size: 100%;
        padding: 30px;
    }
}
    
/*-----------------------categories.html-----------------------*/
.lista_categorias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    border: 60px;
    background-color: #f5e79b;
    border-color: black;
    border: 3px solid;
    padding: 10px;
    border-radius: 360px;
}
.link_receta{
    text-decoration: none;
    color: black;
    padding: 10px;
}










body{
    background-color: #F2EDD0;
    background-image: url("../imagenes/png-clipart-sketch-of-pizza-sushi-pizza-drawing-food-line-pizza-symmetry-monochrome.png");
}

