*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu{
    color: black;
    text-decoration: none;
}

/*-----------------------HEADEAR-----------------------*/

body{
    margin: 0;
}

.logo_pizza{
    height: 100px;
    width: 100px;
}

.register{
    background-image:url() ;
   
}      
header {
justify-content: space-between;
display: flex;
align-items: center;
padding: 10px;
size: 100%;
box-sizing: border-box;
}
.logo_pizza{
    justify-content: flex-start;
    border-radius: 200px;
    
    
}
.menu a{
    align-items: center;
    color: #3B3B3B;
   text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

header{
    background-image: url("../imagenes/7b5e64e793d8d9a11642ed1046fe280b.jpg");
    background-size: 100%;
}

.caja_buscador h2{
margin-bottom: -2px;
margin-left: 40px;
}

/*-----------------------footer-----------------------*/
footer{
    margin-bottom: 0%;
}

/*-----------------------index.html-----------------------*/

.recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.nachito{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #A7C957;
    color: #FFFFFF;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 200px;
    margin-top: 30px;
    height: 80px;

}
.articulos{ 
    background-color: rgb(242, 237, 208);
    flex-direction: column;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 360px;
}
.articulos img{
    width: 300px;
    height: 300px;
    border-radius: 360px;
    border: 5px solid rgb(242, 237, 208);
}
.boton{
    background-color: #A7C957; 
    color: #FFFFFF; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 10px;
}

/*-----------------------receta.html-----------------------*/
.nombre_receta{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #A7C957;
    color: #FFFFFF;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 200px;
    margin-top: 30px;
    height: 80px;
}
.instrucciones{
    margin-right: 400px;
    color: black;

}
.pulpo h2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-shadow: #f5e79b;
    margin-bottom: 15px;
    margin-left: 20px;
    border: solid;
    margin-right: 1250px;
    text-align: center;
    border-radius: 50px;
    background-color: #A7C957;
    color: #FFFFFF;
    height: 40px;
    padding-top: 3px;
}
.pulpo .instrucciones{
    margin-left: 15px;
}
.pulpo .tiempo_coccion{
    text-decoration: solid ;
    color: black;
    text-decoration: solid;
    margin-left: 15px;
    margin-top: 10px;
    border: black 2px dotted;
    margin-right: 1200px;
}
.receta_foto{
    width: 500px;
    height: 500px;
    align-items: center;
    margin-left: 475px;
    border-radius: 360px;
    border: 5px solid #A7C957;    
}




/*-----------------------login.html-----------------------*/
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    size: 100%;
}
.loginCSS{
    background-color: rgb(242, 237, 208);
    padding: 50px;
    border-radius: 360px;
}


@media (max-width: 425px) {
    .main_login {
        background-image: url("../imagenes/ingredients-italian-food-with-copy-space.jpg");
        background-size: 100%;
        padding: 30px;
    }
}

/*-----------------------register.html-----------------------*/
.main_register{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.registerCSS{
    background-color:rgb(242, 237, 208);
    padding: 50px;
    border-radius: 360px;
}

.incompleto{
    color: red;
    font-weight: bold;
}

@media (max-width: 425px){
    .main_register{
        background-image: url("../imagenes/ingredients-italian-food-with-copy-space.jpg");
        background-size: 100%;
        padding: 30px;
    
    }
}
    
/*-----------------------categories.html-----------------------*/
.lista_categorias{
    display: flex;
    flex-wrap: wrap;
}
.title_catgories{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #A7C957;
    color: #FFFFFF;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 200px;
    margin-top: 30px;
    height: 80px;
}
.box{
    border: 60px;
    background-color: rgb(242, 237, 208); 
    border-color: #E76F51;
    border: 3px solid;
    padding: 10px;
    border-radius: 360px;
    width: 180px;
    margin: 10px;
}
.link_receta{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #3B3B3B;
}

body{
    background-color: #F9F9F9; 
    color: #4F4F4F;
    background-image: url("../imagenes/png-clipart-sketch-of-pizza-sushi-pizza-drawing-food-line-pizza-symmetry-monochrome.png");
}
/*-----------------------Media Quarry-----------------------*/
@media (max-width: 425px) {
    header{
        flex-direction: column;
        gap: 100px;
        width: 100%;
    }
}
